# Pandas Demo

Series och DataFrames i Pandas

In [2]:
import numpy as np
import pandas as pd

skapa en pandas serie

In [3]:
programmering2014 = pd.Series([100,99.1,95.5,93.5,92.4,84.8],index=['Java','C','C++','PHP','JavaScript','Ruby'])

In [6]:
programmering2015 = pd.Series([100,99.9,99.4,96.5,91.3,84.8],index=['Java','C','C++','PHP','JavaScript','Ruby'])

Pandas DataFrame fr책n tv책 serier

In [22]:
statistik = pd.DataFrame({'2014':programmering2014, '2015': programmering2015})
statistik

             2014   2015
Java        100.0  100.0
C            99.1   99.9
C++          95.5   99.4
PHP          93.5   96.5
JavaScript   92.4   91.3
Ruby         84.8   84.8

In [27]:
statistik.sort_values('2015', ascending=True)

             2014   2015
Ruby         84.8   84.8
JavaScript   92.4   91.3
PHP          93.5   96.5
C++          95.5   99.4
C            99.1   99.9
Java        100.0  100.0

In [28]:
statistik.values

array([[100. , 100. ],
       [ 99.1,  99.9],
       [ 95.5,  99.4],
       [ 93.5,  96.5],
       [ 92.4,  91.3],
       [ 84.8,  84.8]])

In [29]:
statistik.index # Som rows, bara annat namn

Index(['Java', 'C', 'C++', 'PHP', 'JavaScript', 'Ruby'], dtype='object')

In [30]:
statistik.columns # Columns 채r inte namngivna per automatik, men man vill ju oftast ha en header

Index(['2014', '2015'], dtype='object')

In [33]:
statistik["2014"]

Java          100.0
C              99.1
C++            95.5
PHP            93.5
JavaScript     92.4
Ruby           84.8
Name: 2014, dtype: float64

In [34]:
statistik.loc["Java"] # vi har bett om rader, men kolumnerna visas under varandra

2014    100.0
2015    100.0
Name: Java, dtype: float64

In [35]:
statistik.iloc[0:2] # kom 책t raderna med sifferindex med iloc[]

       2014   2015
Java  100.0  100.0
C      99.1   99.9

In [51]:
statistik["medelPoints"] = ( statistik["2014"] + statistik["2015"] ) / ( statistik.columns.size-1 ) # samma som / 2 
# skapa en ny kolumn med medeltal

In [50]:
statistik

             2014   2015  medelPoints
Java        100.0  100.0       100.00
C            99.1   99.9        99.50
C++          95.5   99.4        97.45
PHP          93.5   96.5        95.00
JavaScript   92.4   91.3        91.85
Ruby         84.8   84.8        84.80

In [ ]:
#.groupby('what you want to group').sum()
#.sortby('')